@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+SA+Beginner:wght@400;500;600;700&family=Lobster&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: monospace;
}

:root {
    --bg-color: #ffffff;
    --text-color: #20b2ab;
    --text-color-two: white;
    --main-color: rgb(44, 190, 0);
    --hightlight-color: #ebac00;
}

.allbox {
    background-color: var(--bg-color);
}


/* header start */

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: var(--bg-color);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 0px 4%;
    z-index: 1;
}

header .logo {
    color: #20b2ab;
    font-size: 5rem;
    font-family: Dancing Script;
}

.logo img {
    width: 3rem;
}

.nav-bar li {
    position: relative;
    left: 0px;
}

.nav-bar {
    display: flex;
    column-gap: 50px;
    box-shadow: 0 1px 2px -2px #111;
}

.nav-bar a {
    color: #20b2ab;
    font-size: 1.3rem;
    font-weight: bold;
}

.btn {
    color: #ffffff;
    background-color: #20b2ab;
    border-radius: 0.5rem;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-family: monospace;
}

.btn:hover {
    background-color: rgb(3, 131, 114);
}

.nav-bar a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: red;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: 1s;
}

.nav-bar a:hover::after {
    width: 100%;
    transform: scale(1.2);
}

.nav-bar .active::after {
    width: 100%;
}


/* container start */

.container {
    position: relative;
    width: 100%;
    min-height: 600px;
    /* background-color: red; */
}

.container img {
    position: absolute;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.container .adtext {
    position: absolute;
    color: #b6f0d6;
    z-index: 1;
    right: 90px;
    top: 300px;
}

.adtext {
    margin: 3%;
}

.adtext h1 {
    font-size: 2.5rem;
    font-family: Edu SA Beginner;
    margin-bottom: 5px;
}

.adtext span {
    font-size: 4.6rem;
    font-weight: bold;
    font-family: Edu SA Beginner, Dancing script;
}

.content {
    max-width: 1080px;
    margin: auto;
}


/* popular-beach start */

.popular-beach-nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0px;
    margin-top: 40px;
}

.popular-beach-nav h1 {
    font-size: 2rem;
    color: var(--text-color);
}

.beach-nav {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    font-size: 1.3rem;
    align-items: center;
}

.beach-nav li a {
    color: var(--text-color);
}

.popular-beach {
    max-width: 1080px;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, auto));
    gap: 2rem;
    margin-top: 2rem;
}

.box {
    color: var(--text-color)
}

.content img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.box-img {
    width: 100%;
    height: 270px;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.popular-beach img:hover {
    box-shadow: 0.5px 0.5px 20px rgb(94, 89, 89, 0.5);
    cursor: pointer;
}

.rating {
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
}

.rating span {
    color: rgb(255, 169, 9);
}

span i {
    font-size: 12px;
}

.location {
    padding: 0 6px;
}

.location .material-symbols-outlined {
    font-size: 15px;
}


/* travel start */

.traveler {
    display: flex;
    margin: 100px 0px 50px 0px;
    width: 100%;
}

.traveler h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.traveler img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.travel-text {
    padding: 20px;
    color: var(--text-color);
}

.travel-text span {
    font-size: 2rem;
    font-weight: bold;
}

.travel-text ul {
    columns: 2;
    margin: 20px 0px;
    text-align: left;
}

.travel-text li {
    line-height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--text-color);
}

.travel-text li i {
    font-size: 30px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(78, 78, 78, 0.5);
    margin: 0 20px;
    transition: 0.3s;
    border-radius: 5px;
}

.travel-text i:hover {
    transform: scale(1.1);
}


/* fact start */

.facts {
    columns: 4;
    margin: 100px 0px 20px 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


/* .facts li {} */

.facts div {
    padding: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.1px 0.1px 3px rgb(112, 112, 112, 0.5);
    border-radius: 15px;
    color: var(--text-color);
}


/* gallery */

.popular-beach-nav .small {
    font-size: 15px;
}

.popular-beach-nav .small i {
    font-size: 10px;
}

.content-gallery {
    width: 100%;
    columns: 3;
    gap: 20px;
    line-height: 50px;
}

.content-gallery img {
    width: 100%;
}


/* connect */

.connect {
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding: 30px 20px 0px 20px;
    color: var(--text-color);
}

.contact {
    margin: auto;
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1px 0.1px 3px rgb(87, 87, 87, 0.7);
    margin-top: 20px;
}

.contact input {
    border: none;
}


/* table start */

.footer {
    width: 100%;
}

table {
    width: 100%;
    margin-top: 50px;
    font-weight: bold;
}

table th,
table tr,
td {
    width: 25%;
    text-align: left;
    height: 30px;
    color: var(--text-color);
    cursor: pointer;
}

table th {
    font-weight: bolder;
}

table tr {
    font-size: 1.2rem;
}

.social {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.social i {
    background-color: #cecece;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

.copyright {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    padding: 20px 10px;
    margin-top: 100px;
    border-top: 1px solid rgba(165, 165, 165, 0.7);
    font-weight: bold;
}

.copyright span {
    margin: 0px 10px;
    color: var(--hightlight-color);
}

@media (max-width:1300px) {
    .container .adtext {
        top: 350px;
        right: 60px;
    }
}

@media (max-width:1080px) {
    header .logo {
        font-size: 4rem;
    }
    header {
        padding: 0 2%;
    }
    header .btn,
    header .nav-bar a {
        font-size: 1.3rem;
    }
    header .nav-bar {
        gap: 20px;
    }
    .content {
        max-width: 720px;
    }
    .container {
        min-height: 400px;
    }
    .container img {
        max-height: 100%;
    }
    .container .adtext {
        right: 40px;
        top: 200px;
    }
    .adtext h1 {
        font-size: 2rem;
    }
    .box-img {
        max-height: 222px;
    }
    .box-img img {
        max-height: 100%;
    }
    .travel-text h1 {
        font-size: 3.2rem;
    }
    .travel-text span {
        font-size: 1.7rem;
    }
    .traveler img {
        max-height: 450px;
    }
    .travel-text li {
        font-size: 15px;
    }
    .beach-nav li {
        font-size: 15px;
    }
    .popular-beach-nav h1 .small {
        font-size: 13px;
    }
    .tb td {
        font-size: 15px;
    }
    .tb {
        border-spacing: 30px 0px;
    }
}

@media (max-width:720px) {
    header .nav-bar {
        display: none;
    }
    .content {
        max-width: 600px;
    }
    .container {
        min-height: 300px;
    }
    /* .container img {
        max-height: 300px;
        width: 100%;
    } */
    .box-img {
        max-height: 187px;
    }
    .box span {
        font-size: 10px;
    }
    .container .adtext {
        right: 30px;
        top: 150px;
    }
    .adtext span {
        font-size: 3rem;
    }
    .adtext h1 {
        font-size: 1.5rem;
    }
    .popular-beach {
        grid-template-columns: repeat(3, minmax(150px, auto));
        gap: 1.5rem;
        margin-top: 2rem;
    }
    .travel-text h1 {
        font-size: 2.5rem;
    }
    .travel-text span {
        font-size: 1.3rem;
    }
    .traveler img {
        max-height: 400px;
    }
    .travel-text li {
        font-size: 15px;
    }
    .travel-text li i {
        font-size: 20px;
    }
    .facts {
        margin-top: 50px;
    }
    .facts div {
        padding: 20px;
        height: 100px;
        width: 100px;
        font-size: 13px;
    }
    .facts div h1 {
        font-size: 17px;
    }
    .tb th {
        font-size: 1rem;
    }
    .tb td {
        font-size: 1rem;
    }
    .social i {
        font-size: 15px;
    }
    .content-gallery {
        gap: 10px;
        line-height: 30px;
    }
    .rating {
        font-size: 10px;
    }
}

@media (max-width:600px) {
    header .logo {
        font-size: 3rem;
    }
    header {
        padding: 0 2%;
    }
    header .btn,
    header .nav-bar a {
        font-size: 1rem;
    }
    .beach-nav {
        gap: 1rem;
    }
    .beach-nav li {
        font-size: 11px;
    }
    .popular-beach-nav {
        margin-top: 30px;
    }
    .popular-beach-nav h1 {
        font-size: 17px;
        font-weight: bolder;
    }
    .content {
        max-width: 400px;
    }
    .container {
        min-height: 200px;
    }
    /* .container img {
        max-height: 200px;
        width: 100%;
    } */
    .box-img {
        max-height: 124px;
    }
    /* .box-img img {
        max-height: 124px;
    } */
    .container .adtext {
        right: 20px;
        top: 100px;
    }
    .adtext span {
        font-size: 2.3rem;
    }
    .adtext h1 {
        font-size: 1.2rem;
    }
    .popular-beach {
        grid-template-columns: repeat(3, minmax(100px, auto));
        gap: 1rem;
        margin-top: 1rem;
    }
    .traveler {
        margin: 50px 0px 25px 0px;
    }
    .travel-text {
        padding: 13px;
    }
    .travel-text h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .travel-text span {
        font-size: 10px;
    }
    .traveler img {
        max-height: 250px;
    }
    .travel-text li {
        font-size: 10px;
    }
    .travel-text ul {
        margin: 5px 0px;
    }
    .travel-text li i {
        font-size: 14px;
        margin: 10px;
    }
    .facts div {
        padding: 10px;
        height: 50px;
        width: 50px;
        font-size: 8px;
        text-align: center;
    }
    .facts div h1 {
        font-size: 10px;
    }
    .tb th {
        font-size: 0.7rem;
    }
    .tb td {
        font-size: 0.7rem;
    }
    .tb {
        border-spacing: 10px 0px;
    }
    .tb tr td {
        height: 10px;
    }
    th .logo img {
        height: 16px;
        width: 16px;
    }
    .social {
        gap: 10px;
    }
    .social i {
        font-size: 12px;
    }
    .content-gallery {
        gap: 10px;
        line-height: 30px;
    }
    .rating h3 {
        font-size: 9px;
    }
    .connect {
        font-size: 14px;
        padding: 30px 20px 0px 20px;
    }
    .contact {
        width: 250px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .contact .btn {
        border-radius: 0.5rem;
        padding: 5px 10px;
        font-size: 1rem;
    }
    .copyright {
        font-size: 10px;
    }
    .copyright span {
        margin: 0px 5px;
    }
}

@media (max-width:400px) {
    header .logo {
        font-size: 2.5rem;
    }
    header .logo img {
        height: 25px;
        width: 25px;
    }
    header {
        padding: 0 2%;
    }
    .beach-nav {
        gap: 0.7rem;
    }
    .beach-nav li {
        font-size: 8px;
    }
    .popular-beach-nav H1 .small {
        font-size: 8px;
    }
    .popular-beach-nav .small i {
        font-size: 5px;
    }
    .popular-beach-nav {
        margin-top: 30px;
    }
    .popular-beach-nav {
        font-size: 12px;
        font-weight: bolder;
    }
    .content {
        max-width: 300px;
    }
    .container {
        min-height: 150px;
    }
    /* .container img {
        max-height: 100%;
        width: 100%;
    } */
    .box-img {
        max-height: 90px;
    }
    /* .box-img img {
        max-height: 124px;
    } */
    .container .adtext {
        right: 10px;
        top: 80px;
    }
    .adtext {
        margin: 0;
    }
    .adtext span {
        font-size: 1.3rem;
    }
    .adtext h1 {
        font-size: 13px;
    }
    .rating h3,
    .rating .bx {
        font-size: 7px;
    }
    .box span,
    .box .material-symbols-outlined {
        font-size: 7px;
    }
    .popular-beach {
        grid-template-columns: repeat(3, minmax(90px, auto));
        gap: 10px;
        margin-top: 1rem;
    }
    .traveler {
        margin: 50px 0px 25px 0px;
    }
    .travel-text {
        padding: 5px;
    }
    .travel-text h1 {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .travel-text span {
        font-size: 7px;
    }
    .traveler img {
        max-height: 200px;
    }
    .travel-text li {
        font-size: 9px;
        line-height: 30px;
    }
    .travel-text li i {
        font-size: 10px;
        margin: 5px;
        padding: 10px;
    }
    /* .facts div {
        padding: 10px;
        height: 50px;
        width: 50px;
        font-size: 8px;
        text-align: center;
    } */
    /* .facts div h1 {
        font-size: 10px;
    } */
    .tb th {
        font-size: 8px;
    }
    .tb td {
        font-size: 8px;
    }
    .tb {
        border-spacing: 10px 0px;
    }
    .tb tr td {
        height: 8px;
    }
    th .logo img {
        height: 16px;
        width: 16px;
    }
    .social {
        gap: 5px;
    }
    .social i {
        font-size: 10px;
        padding: 5px;
    }
    .content-gallery {
        gap: 5px;
        line-height: 15px;
    }
    .connect {
        font-size: 14px;
        padding: 30px 20px 0px 20px;
    }
    .contact {
        width: 230px;
        padding: 5px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .contact .btn {
        border-radius: 0.5rem;
        padding: 3px 6px;
        font-size: 12px;
    }
    .contact input {
        font-size: 12px;
    }
    .copyright {
        font-size: 10px;
        margin-top: 50px;
    }
    .copyright span {
        margin: 0px 5px;
    }
}